@font-face {
  font-family: "Noto Serif";
  src: url(https://static.identity.unimelb.edu.au/unimelb/dev/SaveTheDate_CSS/Fonts/NotoSerif-Regular.ttf);
  font-weight: regular;
}

@font-face {
  font-family: "Noto Serif";
  src: url(https://static.identity.unimelb.edu.au/unimelb/dev/SaveTheDate_CSS/Fonts/NotoSerif-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(https://static.identity.unimelb.edu.au/unimelb/dev/SaveTheDate_CSS/Fonts/SourceSansPro-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(https://static.identity.unimelb.edu.au/unimelb/dev/SaveTheDate_CSS/Fonts/SourceSansPro-Bold.ttf);
  font-weight: bold;
}
* {
  text-align: center;
}

body {
  background-color: rgb(237, 242, 245);
}

.iso-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iso-inner-wrapper {
  max-width: 450px;
  width: 100%;
  background-color: white;
  margin-top: 20%;
  padding: 20px;
}

.iso-logo {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-content: center;
}

.iso-button {
  display: inline-block;
  font-family: "Source Sans Pro";
  background-color: rgba(10, 65, 131, 1);
  padding: 10px;
  max-width: 700px;
  width: 90%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: border-color 0.2s;
  border-radius: 3px;
  color: #fff;
}

.iso-header {
  color: #1d1d1d;
  font-weight: 900;
  font-family: "Noto Serif";
}

p {
  color: #4a4a4a;
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 1.5;
}

.iso-text {
  font-family: "Source Sans Pro";
  font-weight: 600;
}

.iso-link {
  color: #34659e;
}
