hr {
  display: none;
}

.social-signin {
  margin-bottom: 20px;
}

.traditional-signin {
  margin-top: 25px;
}

a.forgot-password-link {
  text-align: center;
}

button.sign-in-button {
  margin-bottom: 25px;
  background-color: #094183;
}
